.main {
    padding-bottom: 12rem;
}
.main-sections {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 20rem;
}

.section-item_picture {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 2rem;
    align-items: center;
    text-align: right;
}

.section-item_picture .section-item__text {
    flex: 0 0 48%;
    order: 2;
}

.section-item__picture {
    position: relative;
    isolation: isolate;
}

.section-item_picture .section-item__picture {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    order: 1;
}

.section-item_picture.invert {
    text-align: left;
}

.section-item_picture.invert .section-item__text {
    order: unset;
}

.section-item__picture [src*="planet"] {
    width: 39.5rem;
    margin: 0 auto;
}

.section-item__picture [src*="planet"] + .spot {
    position: absolute;
    top: -70%;
    left: -60%;
    width: 200%;
    height: 300%;
    z-index: -1;
    transform: rotate(-60deg);
    background-image: radial-gradient(ellipse 100% 100% at center,  rgba(0, 154, 255, 0.2), transparent 50%);
    filter: blur(400px);
}

.section-item__picture [src*="shield"] {
    width: 33rem;
    margin: 0 auto;
}

.section-item__text {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 4rem;
}

.section-item__header {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
}

.section-item__header_bordered span {
    position: relative;
    font-size: 4rem;
    text-transform: capitalize;
}

.section-item__header_bordered span::after {
    position: absolute;
    content: '';
    display: block;
    height: 3px;
    right: 0;
    width: calc(100% + 4rem);
    border-radius: 100px;
    background-image: var(--gradient);
}

.invert .section-item__header_bordered span::after {
    right: unset;
    left: 0;
}

.section-item__desc {
    font-size: 3rem;
    max-width: 90rem;
    letter-spacing: 0.03em;
}

.section-item__desc.smaller {
    font-size: 2rem;
}

.section-item__desc_darken {
    font-size: 2.4rem;
    max-width: 77rem;
    letter-spacing: 0.03em;
    color: var(--color-text-secondary);
    font-weight: 300;
}

.section-item__desc_darken.smaller {
    font-size: 1.8rem;
}

.section-item:last-of-type .section-item__text {
    position: relative;
}

.section-item:last-of-type .spot {
    position: absolute;
    top: -70%;
    left: 0;
    width: 110%;
    height: 180%;
    z-index: -1;
    transform: rotate(60deg);
    background-image: radial-gradient(ellipse 100% 100% at center,  rgba(0, 154, 255, 0.2), transparent 50%);
    filter: blur(400px);
}
